@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
:root{
    --theme: #CD332E;
    --themgradient: linear-gradient(45deg, #d92662 0%, #e23744 100%)
}
body{
    font-family: 'Lexend Deca', sans-serif;
    background: #f7f7f7;
}

/* VEG TOGGLE */
.menu_section input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}
.menu_section label {
    cursor: pointer;
    text-indent: -9999px;
    width: 35px;
    height: 20px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}
.menu_section label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 3px;
    width: 15px;
    height: 16px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}
.menu_section input:checked + label {
    background: #bada55;
}
.menu_section input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}
.menu_section label:active:after {
    width: 20px;
}
/* VEG TOGGLE END */

.btn-theme,
.btn-theme:active,
.btn-theme:focus,
.btn-theme:hover{
    background-color: var(--theme);
    color: white;
}

/* PAGE HEADER */
.page_header{
    background: var(--themgradient);
    z-index: 100;
}

.homepage .main_container{
    padding-top: 9rem;
}


.todays_special .swiper-wrapper{
    margin-bottom: 3rem;
}

.best-selling-tag{
    font-size: 11px;
    padding: 5px 5px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
}

.dish_box .price, .dish_box .prep{
    font-size: 0.9rem;
}

.table-button{
    font-size: 1.5rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 100;
}